/* #region base */
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* #endregion base */

/* #region layout */

/* #endregion layout */

/* #region modules */
.text-align-center {
  text-align: center;
}
.image-properties {
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
}
.newsweek-image {
  background-image: url("/public/assets/Newsweek_clone.png");
}
.newsweek-image_1 {
  background-image: url("/public/assets/Newsweek_clone_1.png");
}
.newsweek-image_2 {
  background-image: url("/public/assets/Newsweek_clone_2.png");
}
.newsweek-image_3 {
  background-image: url("/public/assets/Newsweek_clone_3.png");
}
.sneakersShop-image {
  background-image: url("/public/assets/sneakers-shop.png");
}
.sneakersShop-image_1 {
  background-image: url("/public/assets/sneakers-shop_1.png");
}
.sneakersShop-image_2 {
  background-image: url("/public/assets/sneakers-shop_2.png");
}
.primary-one-color {
  background-color: #18ffff;
}
.primary-one-color:hover {
  background-color: #00cbcc;
}
.light-one-color {
  background-color: #76ffff;
}
.dark-one-color {
  background-color: #00cbcc;
}
.dark-one-color:hover {
  background-color: #18ffff;
}
.primary-two-color {
  background-color: #b2ff59;
}
.primary-two-color:hover {
  background-color: #7ecb20;
}
.light-two-color {
  background-color: #e7ff8c;
}
.dark-two-color {
  background-color: #7ecb20;
}
.dark-two-color:hover {
  background-color: #b2ff59;
}
/* #endregion modules */

/* #region media queries */
@media only screen and (min-device-width: 768px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */
  /* #endregion layout */

  /* #region modules */
  .image-md-size {
    height: 50%;
    width: 100%;
  }
  /* #endregion modules */
}

@media only screen and (min-device-width: 1024px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */
  /* #endregion layout */

  /* #region modules */
  .image-lg-size {
    height: 80%;
    width: 50%;
  }
  /* #endregion modules */
}

/* #endregion media queries */
