/* #region base */
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* #endregion base */

/* #region layout */

/* #endregion layout */

/* #region modules */
.text-align-center {
  text-align: center;
}
.image-properties {
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
}
/* #region projects images */

/* #region newsweek */
.newsweek-image {
  background-image: url("/assets/Newsweek_clone.png");
}
.newsweek-image_1 {
  background-image: url("/assets/Newsweek_clone_1.png");
}
.newsweek-image_2 {
  background-image: url("/assets/Newsweek_clone_2.png");
}
.newsweek-image_3 {
  background-image: url("/assets/Newsweek_clone_3.png");
}
/* #endregion newsweek */

/* #region sneakers shop */
.sneakersShop-image {
  background-image: url("/assets/sneakers-shop.png");
}
.sneakersShop-image_1 {
  background-image: url("/assets/sneakers-shop_1.png");
}
.sneakersShop-image_2 {
  background-image: url("/assets/sneakers-shop_2.png");
}
/* #endregion sneakers shop */

/* #region stayin-touch */
.stayinTouch-image {
  background-image: url("/assets/stayin-touch.png");
}
.stayinTouch-image_1 {
  background-image: url("/assets/stayin-touch_1.png");
}
.stayinTouch-image_2 {
  background-image: url("/assets/stayin-touch_2.png");
}
/* #endregion stayin-touch */

/* #region drinks collector */
.drinksCollector-image {
  background-image: url("/assets/drinks-collector.png");
}
.drinksCollector-image_1 {
  background-image: url("/assets/drinks-collector_1.png");
}
.drinksCollector-image_2 {
  background-image: url("/assets/drinks-collector_2.png");
}
/* #endregion drinks collector */

/* #endregion projects images */

/* #region color one */
.primary-one-color {
  background-color: #18ffff;
}
.primary-one-color:hover {
  background-color: #00cbcc;
}
.light-one-color {
  background-color: #76ffff;
}
.dark-one-color {
  background-color: #00cbcc;
}
.dark-one-color:hover {
  background-color: #18ffff;
}
/* #endregion color one */

/* #region color two */
.primary-two-color {
  background-color: #b2ff59;
}
.primary-two-color:hover {
  background-color: #7ecb20;
}
.light-two-color {
  background-color: #e7ff8c;
}
.dark-two-color {
  background-color: #7ecb20;
}
.dark-two-color:hover {
  background-color: #b2ff59;
}
/* #endregion color two */

/* #region color three */
.primary-three-color {
  background-color: #ffd54f;
}
.primary-three-color:hover {
  background-color: #b29537;
}
.light-three-color {
  background-color: #ffdd72;
}
.dark-three-color {
  background-color: #b29537;
}
.dark-three-color:hover {
  background-color: #ffd54f;
}
/* #endregion color three */

/* #region color four */
.primary-four-color {
  background-color: #81c784;
}
.primary-four-color:hover {
  background-color: #5a8b5c;
}
.light-four-color {
  background-color: #9ad29c;
}
.dark-four-color {
  background-color: #5a8b5c;
}
.dark-four-color:hover {
  background-color: #81c784;
}
/* #endregion color four */

/* #endregion modules */

/* #region media queries */
@media only screen and (min-device-width: 768px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */
  /* #endregion layout */

  /* #region modules */
  .image-md-size {
    height: 50%;
    width: 100%;
  }
  /* #endregion modules */
}

@media only screen and (min-device-width: 1024px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */
  /* #endregion layout */

  /* #region modules */
  .image-lg-size {
    height: 80%;
    width: 50%;
  }
  .overflow-lg-auto {
    overflow: auto;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  /* #endregion modules */
}

/* #endregion media queries */
