/* #region base */
html,
body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
/* #endregion base */

/* #region layout */

/* #endregion layout */

/* #region modules */
.full-percent-height {
  height: 100%;
}
.full-percent-width {
  width: 100%;
}
.align-center {
  text-align: center;
}
/* #endregion modules */

/* #region media queries */
@media only screen and (min-device-width: 768px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */

  /* #region nav */
  /* #endregion nav */

  /* #region main */
  /* #endregion main */

  /* #region footer */
  /* #endregion footer */

  /* #endregion layout */

  /* #region modules */
  /* #endregion modules */
}

@media only screen and (min-device-width: 1024px) {
  /* #region base */
  /* #endregion base */

  /* #region layout */

  /* #region nav */
  /* #endregion nav */

  /* #region main */
  /* #endregion main */

  /* #region footer */
  /* #endregion footer */

  /* #endregion layout */

  /* #region modules */
  /* #endregion modules */
}

/* #endregion media queries */
